<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.toki</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/toki</string>
        <string>start</string>
        <string>--interval</string>
        <string>1</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/YOUR_USERNAME/.toki/toki.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/YOUR_USERNAME/.toki/toki.err.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/YOUR_USERNAME</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>


